
<h1>Listing newsletters</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Homepage</th>
  </tr>
 
  <% @newsletters.each do |newsletter| %>
    <tr>
      <td><%= newsletter.name %></td>
      <td><%= newsletter.category %></td>
      <td><%= link_to 'Home', newsletter.url %></td>
      <td><%= link_to 'Show', newsletter_path(newsletter) %></td>
      <td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
       <td><%= link_to 'Destroy', newsletter_path(newsletter),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
  <%= link_to 'Add a Newsletter', '/newsletters/new' %>
</table>
